services:
  e2e-test:
    env_file:
      - .env.dev
    build:
      context: ./frontend
      dockerfile: Dockerfile.e2e
    container_name: e2e-test
    depends_on:
      frontend:
        condition: service_healthy
    environment:
      BASE_URL: "http://frontend:3000"
    volumes:
      - ./frontend:/app
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "yarn playwright test --list || exit 1",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
    command:
      - sh
      - -c
      - |
        echo "Container up and running....." &&
        corepack enable &&
        yarn install --immutable &&
        yarn playwright install &&
        yarn dev:local --host 0.0.0.0 --port ${FRONTEND_PORT}
